../../../.arduinoIDE/
        ../../../.cache/
        ../../../.cursor/
        ../../../.docker/
        ../../../.gitconfig
        ../../../.idlerc/
        ../../../.ipynb_checkpoints/
        ../../../.ipython/
        ../../../.jupyter/
        ../../../.keras/
        ../../../.lesshst
        ../../../.matplotlib/
        ../../../.node_repl_history
        ../../../.packettracer
        ../../../.ssh/
        ../../../.vscode/
        ../../../.wdm/
        ../../../Agents_phidata/
        ../../../AppData/
        ../../../Contacts/
        ../../../Downloads/
        ../../../Favorites/
        ../../../Figure_1.png
        ../../../Gen-AI/
        ../../../IntelGraphicsProfiles/
        ../../../Links/
        ../../../Music/
        ../../../NTUSER.DAT
        ../../../NTUSER.DAT{2126bba3-cdc2-11ef-adf9-80f18bc6f631}.TM.blf      
        ../../../NTUSER.DAT{2126bba3-cdc2-11ef-adf9-80f18bc6f631}.TMContainer00000000000000000001.regtrans-ms
        ../../../NTUSER.DAT{2126bba3-cdc2-11ef-adf9-80f18bc6f631}.TMContainer00000000000000000002.regtrans-ms
        ../agent/
        ../../../OneDrive/.849C9593-D756-4E56-8D6E-42412F2A707B
        ../../../OneDrive/Cuberoot.java
        ../../../OneDrive/Desktop/Cursor.lnk
        ../../../OneDrive/Desktop/CutTheRopePhysicsUnity-master/
        ../../../OneDrive/Desktop/Docker Desktop.lnk
        ../../../OneDrive/Desktop/Gayathri_Resume.docx
        ../../../OneDrive/Desktop/Lahari ServiceNow.docx
        ../../../OneDrive/Desktop/Lahari_Resume - Shortcut.lnk
        ../../../OneDrive/Desktop/Langflow/
        ../../../OneDrive/Desktop/Microsoft Edge.lnk
        ../../../OneDrive/Desktop/Microsoft Teams classic (work or school).lnk
        ../../../OneDrive/Desktop/Ropetastic/
        ../../../OneDrive/Desktop/Unity Hub/
        ../../../OneDrive/Desktop/Unity-Cut-The-Rope-replica-master/
        ../../../OneDrive/Desktop/WhatsApp Image 2024-11-21 at 11.04.08 AM.jpeg
        ../../../OneDrive/Desktop/WhatsApp Image 2024-11-21 at 11.15.18 AM.jpeg
        ../../../OneDrive/Desktop/WhatsApp Image 2024-11-21 at 12.47.21 PM.jpeg
        ../../../OneDrive/Desktop/ZipThisApp.lnk
        ../../../OneDrive/Desktop/Zoom.lnk
        ../../../OneDrive/Desktop/chromedriver.exe
        ../../../OneDrive/Desktop/desktop.ini
        ../../../OneDrive/Desktop/docker folder/
        ../../../OneDrive/Desktop/docker/
        ../../../OneDrive/Desktop/enducation documents/
        ../../../OneDrive/Desktop/photos/
        ../../../OneDrive/Desktop/resume/
        ../../../OneDrive/Documents/
        ../../../OneDrive/Getting started with OneDrive.pdf
        ../../../OneDrive/Personal Vault.lnk
        ../../../OneDrive/Pictures/
        ../../../OneDrive/desktop.ini
        ../../../OneDrive/pycharm-professional-2023.3.3.exe
        ../../../PycharmProjects/
        ../../../Saved Games/
        ../../../Searches/
        ../../../Untitled.ipynb
        ../../../UrbanVPN/
        ../../../Videos/
        ../../../example.py
        ../../../filesinputoutput.py
        ../../../muiliple_agents.py
        ../../../ntuser.dat.LOG1
        ../../../ntuser.dat.LOG2
        ../../../ntuser.ini
        ../../../python/
        ../../../referal_notes.txt
        ../../../token hugging face.txt
